.topbar {
  background-color: #F3F3F5;
  padding: 10px 0;
  font-size: 11px;
  color: #333;
}

.topbar-left span,
.topbar-right span {
  margin-right: 10px;
}

.topbar-right a {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
}

.topbar .vertical-line {
  margin: 0 5px; 
  color: #333;
}

.topbar-left .contact-info {
  display: flex;
  align-items: center;
}

.topbar-left .contact-info span {
  margin-right: 5px; 
}
