.top-attractions-wrapper {
  background-color: #F7F8FA;
  width: 100%;
}

.top-attractions-container {
  padding: 40px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.title-section {
  margin-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
}

.subtitle {
  font-size: 1.5rem;
  color: #FD5056;
  font-family: 'Kaushan Script', cursive;
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0C1446;
}

.attractions-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px;
  gap: 20px;
  grid-template-areas: 
    "img1 img2 img3 img6"
    "img4 img5 img5 img6";
}

.destination-card {
  position: relative;
  overflow: hidden;
}

.destination-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destination-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.destination-card:nth-child(1) {
  grid-area: img1;
}

.destination-card:nth-child(2) {
  grid-area: img2;
}

.destination-card:nth-child(3) {
  grid-area: img3;
}

.destination-card:nth-child(4) {
  grid-area: img4;
}

.destination-card:nth-child(5) {
  grid-area: img5;
}

.destination-card:nth-child(6) {
  grid-area: img6;
}

.destination-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white !important;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.travelers {
  font-size: 1rem;
  margin-bottom: 5px;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

.destination-name {
  font-size: 1.7em;
  font-weight: bold;
  color: white;
  font-family: 'Kaushan Script', cursive;
}
