.stats-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
}

.stats-number {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.stats-text {
  margin: 0;
  font-size: 1rem;
}
