.testimonial-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fa;
  padding: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.testimonial-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-image {
  width: 300px;
  height: auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.testimonial-right {
  flex: 1;
  padding-left: 50px;
  text-align: left;
  max-width: 25%;
  margin-right: 20%;
}

.testimonial-subtitle {
  color: #FD5056;
  font-style: italic;
  margin-bottom: 10px;
  position: relative;
}

.testimonial-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0C1446;
  margin-bottom: 20px;
}

.testimonial-quote {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
  font-style: italic;
}

.testimonial-author {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}

.testimonial-indicators {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: #D3D3D3;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.indicator.active {
  background-color: #FD5056;
}
