.header-navbar {
    padding: 10px 20px;
}
  
.header-navbar .navbar-brand {
    display: flex;
    align-items: center;
}
  
.header-navbar .nav-link {
    font-size: 16px;
    font-weight: 500;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 38px;
}

.search-button-color {
    color: black;
}

.form-control {
    height: 38px;
}

.me-2 {
    margin-right: 8px; 
}

.user-email {
    margin-right: 10px;
    font-weight: 500;
}

.logout-button {
    padding: 5px 10px !important;
    margin-left: 15px !important;
    border: 2px solid #FD6468 !important;
    background-color: transparent !important;
    color: #FD6468 !important;
    border-radius: 5px !important;
    transition: background-color 0.3s, color 0.3s !important;
}

.logout-button:hover,
.logout-button:focus {
    background-color: #FD6468 !important;
    color: white !important;
    outline: none !important;
    box-shadow: none !important;
}

